/* http://www.eaglefonts.com/fg-virgil-ttf-131249.htm */
@font-face {
  font-family: "Virgil";
  src: url("Virgil.woff2");
  font-display: swap;
}

/* https://github.com/microsoft/cascadia-code */
@font-face {
  font-family: "Cascadia";
  src: url("Cascadia.woff2");
  font-display: swap;
}

/* https://www.myfonts.com/products/regular-proxima-nova-265836 */
@font-face {
  font-family: "ProximaNovaRegular";
  src: url('ProximaNovaRegular/font.woff2') format('woff2'), url('ProximaNovaRegular/font.woff') format('woff');
  font-display: swap;
}